<!DOCTYPE html>
<html lang="es">

<%- include ("./partials/head.ejs") %>

  <body class="inicio-sesion">

    <%- include ("./partials/header.ejs") %>

      <form class="login" action="/productAdmin" method="post">
        <div class="contenedor-inicio">


          <h1 id="texto-inicio">GESTOR DE PRODUCTOS.</h1>

          <label for="Product name">Nombre de producto</label>
          <input type="text" id="userName" name="name" placeholder="Nombre Producto" />
          <label for="price">Precio de producto</label>
          <input type="number" id="price" name="price" placeholder="Precio Producto" />
          <label for="description">Descripcion de producto</label>
          <input type="text" id="description" name="description" placeholder="Descripcion Producto" />
          <label for="Image">Imagen de producto</label>
          <input type="url" id="image_url" name="image_url" placeholder="Imagen Producto" />


          <button class="btn-1" type="submit">Ingresar</button>
      </form>
      </div>

      <%- include ("./partials/footer.ejs") %>
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <% if (typeof alert !="undefined" ){ %>
          <script>
            Swal.fire({
              title: "<%=alertTitle %>",
              text: "<%= alerMessage %>",
              icon: "<%=alerIcon %>",
              showconfirmButton: "<%= showConfirmButton%>",
              timer: "<%= timer %>",
            }).then(() => {
              window.location = " /<%= ruta %>"
            });                        
          </script>

          <% } %>
  </body>

</html>